*.log
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.phpunit.result.cache
.phpactor.json

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/auth.json

/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

Homestead.json
Homestead.yaml